/* Geral */
:root{
    --crepe-black: #1d1d1d;
    --crepe-yellow: #ffbb33;
    --crepe-white: #F7F7F3;
}
body{
    background-color: var(--crepe-white);
    margin: 0;
}
img{
    max-width: 100%;
}
h1, h2{
    font-family: 'Echelon', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: clamp(36px,1vw,60px);
}
h3{
    font-size: 36px;
}
h4{
    font-family: 'Echelon', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
p{
    font-family: 'Palatino Linotype', 'Times New Roman', serif;
    font-size: clamp(16px, 1vw, 18px);
    line-height: 1.5;
    color: var(--crepe-black);

    margin: 7px 0;
}
button{
    cursor: pointer;

    background-color: var(--crepe-yellow);
    border: 2px solid var(--crepe-black);

    font-family: 'DIN Condensed';
    letter-spacing: -.2px;
    font-weight: bold;
    font-size: 23px;
    text-transform: uppercase;

    padding: 10px 20px;
    margin: 25px auto;

    width: 100%;
}

button img, button span{
    vertical-align: middle;
    height: 25px !important;
    padding: 0 3px;
}

section{
    /* margin-bottom: 10vh; */
    padding: 0 10vw 15vh;
}
.black{
    background-color: var(--crepe-black);
}
.black *:not(button, button span, .border *){
    color: var(--crepe-white);
}

/* Header */
header img{
    padding: 50px 0;
    height: 10vh;
    max-height: 80px;

    display: flex;
    margin: 0 auto;
}

/* Hero */
#hero{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

    min-height: calc(100vh - 10vh - 100px   );
}
#hero .container, #footer .container{
    max-width: 560px;
    margin: 0 auto;
}
#hero .image, #footer .image{
    max-width: 480px;
    margin: 0 auto;
}

/* Social Validation */
#social-val{
    display: flex;
    flex-direction: column-reverse;
}
#social-val .image{
    margin: 0 auto;
    margin-bottom: 12vh;
    position: relative;
}
#social-val .image img{
    max-width: 100%;
}
#social-val .image img:not(:first-child){
    position: absolute;
    top: 0;
    left: 0;
}
/* Social Validation Counter */
#social-val .container{
    margin-bottom: 12vh;
}
#counter{
    font-size: 66px;
    font-family: 'Elephant', Arial, Helvetica, sans-serif;
    line-height: 1;

    text-align: center;
    margin-bottom: 0;
}
#counter-after{
    font-weight: bold;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    
    margin-top: 0;
}
.extra-margin{
    width: clamp(0px, 92%, 480px);
    margin: 50px auto;
}

/* Benefícios */
#benefits .container{
    display: flex;
    flex-wrap: wrap;
}
.benefit{
    display: flex;
    flex-direction: column;
    padding: 0 30px;

    margin: 0 auto 12vh;
    width: clamp(0px, 100%, 240px);
}
.benefit img{
    max-width: clamp(0px, 50%, 150px);
    margin: 0 auto;
}
.benefit h3{
    font-family: 'Elephant', Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: normal;

    margin-bottom: 0;
}

/* Cardápios */
#cardapios{
    padding: 0 5vw 15vh;
}
#cardapios h2{
    text-align: center;
    padding-top: 75px;
}
#cardapios .container{
    display: flex;
    flex-wrap: wrap;
}
#cardapios .container .border{
    margin: 50px auto;

    width: clamp(0px, 100%, 320px);
}
.border{
    /*Borders*/
    border: 15px solid transparent;
    outline: 2px solid #F7F7F3;
    outline-offset: -10px;

    background: 
        linear-gradient(#f7f7f3 0 0)top,
        linear-gradient(#f7f7f3 0 0) left,
        linear-gradient(#f7f7f3 0 0) bottom,
        linear-gradient(#f7f7f3 0 0) right;
    background-size:200% 2px,2px 200%; /* adjust the 2px here */
    background-origin:padding-box;
    background-repeat:no-repeat;
}
.cardapio{
    background-color: #F7F7F3;

    padding: 40px 30px;
    margin: 12px;

    display: flex;
    flex-direction: column;

    height: calc(100% - 105px);
}
.cardapio h3{
    font-family: 'Echelon', Arial, Helvetica, sans-serif;
    color: var(--crepe-black);
    text-align: center;
    font-weight: normal;

    margin: 0 auto 15px;
}
#cardapios button{
    margin: auto auto 0;
}
.cardapio p:last-of-type{
    margin-bottom: 30px;
}

/* Cardápio Overlay */
#overlay{
    display: none;
    z-index: 99;

    position: fixed;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0,.5);

    overflow-y: auto;
}
#overlay .border{
    margin: 25px auto;

    max-width: 768px;
}
#cardapio-overlay{
    background-color: #F7F7F3;

    position: relative;

    padding: 50px 25px 0;
    margin: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#cardapio-overlay h2{
    margin: 0 auto 50px;

    font-size: clamp(38px, 4vw, 56px);
}
h4{
    font-size: clamp(32px, 3.3vw ,40px);

    text-align: center;

    margin: 0 auto;
}
#cardapio-overlay hr{
    height: 2px;
    width: 75px;

    background-color: #ffbb33;

    border: none;
}
#cardapio-overlay p{
    text-align: center;
}
.sabor{
    max-width: 360px;
    margin: 20px auto;
}
#cardapio-overlay .container, #buttons-container{
    margin: 40px auto 30px;
}
#cardapio-overlay .container h2{
    text-align: center;
    margin: auto 0;
}
#cardapio-overlay .container p{
    margin: 2px auto;
}
#close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    border: none;
    
    background-color: transparent;

    width: 30px;
    height: 30px;

    padding: 0;
    margin: 0;
}
#buttons-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;

    width: 100%;
}
#buttons-container button{
    padding: 10px 30px 8px;
}
#buttons-container a{
    margin: auto;
}
.voltar{
    background-color: transparent;
    border: none;

    text-decoration: underline;

    margin: 0 auto;
}
#footer-btn{
    margin-bottom: 50px;
}

/* Footer */
#footer{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-bottom: 0;
}

footer{
    background-color: var(--crepe-black);
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
}
footer p{
    color: var(--crepe-white);
    margin: 0 50px 10px;
    font-size: 16px;
}
footer a {
    color: var(--crepe-yellow);
}
footer a:visited{
    color: var(--crepe-yellow);
}

@media (min-width: 468px){
    #buttons-container{
        flex-direction: row;
    }

    button{
        width: auto;
    }
}

@media (min-width: 900px){
    h1,h2{
        font-size: 68px;
    }

    #hero, #footer, #social-val{
        flex-direction: row;
    }
    #footer, #hero{
        height: auto;
        padding: 0 10vw 15vh;
    }
    #footer{
        
        padding: 15vh 10vw ;
    }
    #hero .container, #footer .container{
        margin: 0 auto 0 0;
    }

    /* Social Validation */
    #social-val .image{
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto 0 0;
    }
    #social-val .container{
        max-width: 50%;
        margin-left: 15%;
    }
    #social-val .container *{
        text-align: left;
    }

    .extra-margin{
        margin: 50px 0 0;
    }

    /* Benefits */
    #benefits .container{
        justify-content: center;
    }
    .benefit{
        margin: 5vh 7%;
    }

    /* Cardapio */
    #cardapios .container{
        justify-content: center;
    }
    #cardapios .container .border{
        margin: 50px 5%;
    }

    .right-padded{
        margin-right: 10vw !important;
    }
    .left-padded{
        margin-left: 10vw !important;
    }
}

@media (min-width: 1366px){
    #hero{
        margin: 6vh auto;
    }
    #hero .container, #footer .container, #hero .image{
        max-width: 560px;
    }
    #hero .imagem{
        margin: 0 0 0 auto;
    }

    .benefit{
        margin: 5vh 6%;
    }
}
